
/* USER DETAILS BANNER  */

.top-detail-container, .profile-details {
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-detail-container {
	background: linear-gradient(360deg, rgba(255, 255, 255, 0), var(--grey_1));
	font-family: 'Raleway';
	height: 250px;
}

.profile-details {
	width: fit-content;
	color: var(--blue_4);
}

.user-info .username {
	font-size: 35px;
	font-weight: bold;
	padding-left: 5px;
}

.user-info .user-email {
	font-size: 20px;
	color: var(--blue_3);
}

/* USER AVATAR */

.avatar {
	font-family: 'Inter', 'Raleway', sans-serif;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	padding-top: 10px;
	font-size: 18px;
	background-color: var(--blue_4);
	color: var(--grey_1);
	font-weight: bold;
	text-align: center;
	margin-right: 5px;
}

.avatar-big {
	height: 90px;
	width: 90px;
	border-radius: 45px;
	padding-top: 18px;
	font-size: 50px;
	margin-right: 10px;
}

@media screen and (max-width: 600px) {
	.avatar-big {
		height: 60px;
		width: 60px;
		border-radius: 30px;
		padding-top: 10px;
		font-size: 35px;
	}
	.user-info .username {
		font-size: 25px;
	}
	
	.user-info .user-email {
		font-size: 15px;
		color: var(--grey_1);
	}
}


/* SELECT VIEW BUTTONS */

.select-view-btns {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.select-view-btns button {
	padding: 5px 15px 10px 15px;
	background: transparent;
	font-size: 18px;
	text-align: center;
	transition: all ease 0.25s;
	color: var(--blue_4);
}

.select-view-btns button:hover {
	color: var(--blue_3);
}

.view-active {
	border-top: 2px solid var(--blue_3);
}