
.gallery-container {
    display: flex;
    overflow-y: hidden;
	overflow-x: scroll;
    margin: 0 calc((100vw - 1300px)/2 + 10px);
    padding: 10px 0;
}

.gallery-container::-webkit-scrollbar {
    display: none;
}

.scroll-indicators {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc((100vw - 1300px)/2 + 20px);
}

.scroll-indicators  span {
    color: var(--blue_4);
    font-weight: bold;
    font-size: 15px;
}

.scroll-indicators button {
    color: var(--blue_4);
    padding: 5px 15px;
    border-radius: 3px;
    border: 1px solid var(--blue_4);
    transition: all ease 0.2s;
}

.scroll-indicators button:hover {
    background-color: var(--blue_4);
    color: var(--grey_1);
}


@media screen and (max-width: 1300px) {
    .gallery-container {
        margin: 0 20px;
    }
    .scroll-indicators {
        padding: 0 20px;
    }
}