
.image-gallery {
    margin-top: 10px;
}

.gallery-row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 10px;
    width: 1300px;
    margin: 0 auto;
}

.gallery-column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 8px;
}


@media screen and (max-width: 1300px) {
    .gallery-row {
        width: 100%;
    }
}

/* 2 COLUMN LAYOUT */

@media screen and (max-width: 1000px) {
    .gallery-column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* 1 COLUMN LAYOUT */

@media screen and (max-width: 600px) {
    .gallery-column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}