
.gallery-card, .gallery-select-card {
    font-family: 'Raleway', sans-serif;
    width: 250px;
    height: 250px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    margin: 10px 20px 10px 0;
    background: linear-gradient(135deg, var(--blue_1), var(--grey_1));
    color: var(--blue_4);
    box-shadow: var(--light-box-shadow);
    transition: all ease 0.25s;
}

.gallery-name {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.card-username {
    font-size: 15px;
}

.photo-cnt {
    text-align: right;
    font-size: 15px;
}

.gallery-active {
    border: 3px solid var(--blue_3);
}

.gallery-select-card {
    min-height: 130px;
    min-width: 200px;
    height: fit-content;
    cursor: pointer;
}

.gallery-select-card .gallery-name {
    font-size: 20px;
}