.header {
	font-family: 'Raleway', sans-serif;
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
    display: flex;
    padding: 15px 20px;
	justify-content: space-between;
	z-index: 20;
	transition: all 0.25s ease;
}

.header_black {
	background-color: var(--bg-color);
}

.logo {
    width: 55px;
    height: 50px;
    position: relative;
    top: -10px;
	cursor: pointer;
}

.openbtn {
	/* background: linear-gradient(to right, var(--color-1), var(--color-1));
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
	font-size: 25px;
}

.navbar {
    height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 60px;
	/* background-color: var(--vita-dark-blue); */
	z-index: 1;
	overflow-x: hidden;
    transition: 0.4s;
}


.navItem {
	display: block;
	text-decoration: none;
	margin: 15px 5px auto;
	padding: 10px 0 10px 15px;
	text-align: left;
	/* background: linear-gradient(to right, var(--color-1), var(--color-2));
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
	font-size: 18px;
	font-weight: bold;
	line-height: 2;
	letter-spacing: 0.08em;
	transition: all 0.2s ease-out;
	cursor: pointer;
}

.navItem:hover {
	color: black;
}

.icon {
	position: relative;
	font-size: 20px;
	top: 0;
	width: 40px;
    text-align: center;
}

.blank {
    width: 100vw;
    height: 60px;
}

@media (min-width: 600px) {
	.header {
		padding: 15px 40px 0 40px;
	}
	.openbtn {
		display: none;
	}
	.navbar {
		width: 100%;
		margin: 0;
		position: static;
		overflow-y: hidden;
	}
	.navbarLinkContainer {
		text-align: center;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-end;
	}
	.navbarLink {
		display: inline-block;
		margin: 0;
		padding: 5px 10px 0 15px;
	}
	.navItem {
		text-align: center;
		margin: 0;
		padding: 10px 0;
		border: none;
		font-size: 15px;
		height: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 600px) {
	.header {
		background-color: var(--bg-color);
    }
    .navbar {
        background-color: var(--bg-color);
    }
}